* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 12px;
	background:#bfbfbf;


}


h1, h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin:0 0 5px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}

.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}

.section img {
	 width: auto;
	 height: 50%;
}

.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #0977bc;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;

	color: #0e0;
}
.subMenu a:hover {
	background: #1783c7;
}

.active {
	background: #25aae1;
}
.end {
	margin: 0;
}

/*.photoWrapper {

}*/


/* SECTIONS */
.sTop {
	min-height: 75px;
	background:#ad543a;
	color:black;
	padding: 30px 0;
	height: 10px;

}

.s1 {
	background:#5e5e5e;
	color:#fff;

}


.s2 {
	background: #313131;
}
.s2 a {
	color: #fff;
}

.s3 {
	background: #1b83b3;
}

.view {
  width:460px;
  height:400px;
  margin:10px;
  float:left;
  overflow:hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.view .mask, .view .content {
  width: 460px;
  height: 400px;
  position: absolute;
  overflow: hidden;
  top:0;
  left:0;
}

.view img{
  display: block;
  position: relative;
}

.view h2{
  color: rgb(0,0,0);
  text-align: center;
  position: relative;
  font-size: 36px;
  padding: 10px;
  margin: 20px 0 0 0;
  background: rgba(0, 0, 0, 0.8);
}

.view p {
  font-family: "Raleway";
  font-size: 20px;
  position: relative;
  color: #fff;
  padding: 10px 20px 10px;
  text-align: center;
}

.view a.info {
  display: inline-block;
  text-decoration: none;;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  box-shadow: 0 0 0 1px #000;
}

.view a.info:hover{
  box-shadow: 0 0 5px #000;
}

.view-ten img{
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transition: all .8s ease-in-out;
 -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition:all .8s ease-in-out;
  -ms-transition:all .8s ease-in-out;
}

.view-ten .mask {
  background-color: #3e3e3e;
  transition: all .5s linear;
  -webkit-transition:  all .5s linear;
  -moz-transition:  all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition:  all .5s linear;
opacity: 0;
}

.view-ten h2{
  border-bottom: 1 px solid rgba( 0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
-webkit-transform: scale(0);
  color: #fff;
  transition: all .8s linear;
 -webkit-transition:  all .8s linear;
  -moz-transition:  all .8s linear;
  -o-transition: all .8s linear;
  -ms-transition:  all .8s linear;
 opacity: 0;
}

.view-ten p {
  color: #fff;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all .8s linear;
-webkit-transition:  all .8s linear;
  -moz-transition:  all .8s linear;
  -o-transition: all .8s linear;
  -ms-transition:  all .8s linear;
}

.view-ten a.info {
  opacity: 0;
  transform: scale(0);
 -webkit-transform: scale(0);
  transition: all .8s linear;
   -webkit-transition:  all .8s linear;
  -moz-transition:  all .8s linear;
  -o-transition: all .8s linear;
  -ms-transition:  all .8s linear;
}

.view-ten:hover img{
  transform: scale(10);
 -webkit-transform: scale(10);
  opacity: .6;
}

.view-ten:hover .mask{
  opacity: 1;
}

.view-ten:hover h2,
.view-ten:hover p,
.view-ten:hover a.info{
  transform: scale(1);
 -webkit-transform: scale(1);
  opacity: 1;
}
